<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><div class="footer-strip">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <h3 class="footer-title" style="font-size: 1rem;">{{.Site.Title}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div></a>
    </div>
    <div style="width:100px;" class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><div class="footer-strip">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <h3 class="footer-title" style="font-size: 1rem;">{{.Site.Title}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div></a>    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>