{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

<div class="intro pb-4">
  <div class="container">
    {{ .Content }}
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Phone: </strong> {{ .Site.Data.contact.phone }} </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ .Site.Data.contact.email }}">
          {{ .Site.Data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="/contact" class="button">Contact</a>
    </div>
  </div>
</div>



<div class="container pt-5 pb-5 pt-md-7 ">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Who we've worked with</h2>
    </div>
    {{ range .Site.Data.features }}
    <div class="col-12 col-md-6 col-lg-2 mb-2" style="height:100px;">
      <div class="feature">
        {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ .image }}" /></div> {{ end }}

      </div>
    </div>
    {{end}}
  </div>
</div>

<div class="container pt-8 pt-md-5 pb-md-7">
    <div class="row justify-content-start">
        <div class="col-6 text-center">
            Working with Tom has taken my business to another level. 
            The first few years of my new business I have been used to waiting around for customers to come to me but with Tom's help I constantly have high quality leads coming in and it has allowed me to explore the idea of expanding my business by doubling the floor space by taking over the shop next door. Couldn't have done it without him. 
            I've also wasted plenty of money on business coaches who promise the world and don't deliver so it was refreshing to deal with someone who specialises in actually getting customers through the door not all that fluff that business coaches take you through.
        </div>
        <div class="col-6 text-center">
            <img class="img-fluid mb-2" src="testimonials/0dc27d5f-17523434-1302134256539394-4561502187506934960-n_0gk0b00bw0b002a000.jpg" />
            <p>Geoff Goddard </p>
            <p>
            Owner, Lordoftherig.com.au</p>
        </div>
        
</div>
</div>

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pt-md-5 pb-md-7">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Testimonials</h2>
    </div>
    {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="/services">View All Services</a>
    </div>
  </div>
</div>
{{end}}

{{ end }}

{{ define "footer_js" }}
{{ end }}